<form [formGroup]="inconvenientForm" (ngSubmit)="saveInconvenient()">
	<div class="row my-2">
		<div class="col-4">
			<div class="form-floating">
				<input required formControlName="dateAct" name="dateAct" type="text" placeholder="Fecha del inconveniente"
					[className]="checkInput('dateAct') ? 'form-control is-invalid' : 'form-control'">
				<label for="dateAct">Fecha actual</label>
				<div class="invalid-feedback">
					Este campo es requerido
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="form-floating">
				<input required formControlName="state" name="state" type="text" placeholder="Estado del inconveniente"
					[className]="checkInput('state') ? 'form-control is-invalid' : 'form-control'">
				<label for="state">Estado del retraso</label>
				<div class="invalid-feedback">
					Este campo es requerido
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="form-floating">
				<input required formControlName="daysDelay" name="daysDelay" type="number" placeholder="Dias de inconveniente"
					[className]="checkInput('daysDelay') ? 'form-control is-invalid' : 'form-control'">
				<label for="daysDelay">Dias de inconveniente</label>
				<div class="invalid-feedback">
					Este campo es requerido
				</div>
			</div>
		</div>
	</div>
	<div class="row my-2">
		<div class="col-6">
			<div class="form-floating">
				<input required formControlName="seen" name="seen" type="number" placeholder="seen del inconveniente"
					[className]="checkInput('seen') ? 'form-control is-invalid' : 'form-control'">
				<label for="seen">Seen del inconveniente</label>
				<div class="invalid-feedback">
					Este campo es requerido
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="form-floating">
				<input required formControlName="description" name="description" type="text" placeholder="Descripción del inconveniente"
					[className]="checkInput('description') ? 'form-control is-invalid' : 'form-control'">
				<label for="description">Descripción del inconveniente</label>
				<div class="invalid-feedback">
					Este campo es requerido
				</div>
			</div>
		</div>
	</div>

	<div class="row my-2">
		<div class="col mb-2 d-flex justify-content-center">
			<button [disabled]="!inconvenientForm.valid"
				[ngClass]="{
					'btn-success': isUpdate,
					'btn-primary': !isUpdate,
					'btn d-flex align-items-center': true
				}">
				{{isUpdate ? 'Actualizar inconveniente' : 'Registrar inconveniente'}}
				<i class="material-icons">save</i>
			</button>
		</div>
	</div>
</form>
