<div class="d-flex justify-content-center">
	<h3 class="text-white">Cotizacion</h3>
</div>
<app-request-form></app-request-form>
<div class="d-flex justify-content-center">
	<h5 class="text-white">Productos</h5>
</div>
<!-- TODO: add table for productos -->
<app-product-table></app-product-table>

<div class="d-flex justify-content-center">
	<h5 class="text-white">Servicios</h5>
</div>
<!-- TODO: add table for servicios -->
<app-service-table></app-service-table>

 <!-- TODO: Hacer la sumatoria total de servicios + productos -->
 <div class="d-flex justify-content-left">
  <h6 class="text-white">Total</h6>
</div>

<ng-template #loading>
  <div class="d-flex justify-content-right">
    <div class="spinner-border" role="status"></div>
  </div>

</ng-template>


