<form [formGroup]="requestForm" (ngSubmit)="saveRequest()" >
  <div class="row my-2">
		<div class="col-6">
			<div class="form-floating">
				<input required formControlName="starDate" name="starDate" type="date" placeholder="Fecha inicio"
					[className]="checkInput('starDate') ? 'form-control is-invalid' : 'form-control'">
				<label for="starDate">Fecha inicio</label>
				<div class="invalid-feedback">
					Este campo es requerido
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="form-floating">
				<input required formControlName="endDate" name="endDate" type="date" placeholder="Fecha terminado"
					[className]="checkInput('endDate') ? 'form-control is-invalid' : 'form-control'">
				<label for="endDate">Fecha terminado</label>
				<div class="invalid-feedback">
					Este campo es requerido
				</div>
			</div>
		</div>
	</div>

  <div class="row my-2">
    <div class="col-6">
			<div class="form-floating">
				<input required formControlName="state" name="state" type="text" placeholder="Estado"
					[className]="checkInput('state') ? 'form-control is-invalid' : 'form-control'">
				<label for="state">Estado</label>
				<div class="invalid-feedback">
					Este campo es requerido
				</div>
			</div>
		</div>
  </div>
  </form>
