<div class="d-flex justify-content-center">
	<h3 class="text-white">Gestión de Servicios</h3>
</div>

<app-service-form #childForm (onSubmit)="saveServiceRequest($event)"/>
<app-service-table
  [listOfRequest]="requests"
  (onDelete)="deleteRequest($event)"
  (onUpdate)="updateRequestService($event)"
  (onView)="viewRequestService($event)"
/>
<ng-template #loading>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status"></div>
  </div>
</ng-template>
<app-inconvenients-management [requestId]="requestId"/>
