<input [(ngModel)]="filter" (input)="filterList" type="text" placeholder="Filtrar..." class="form-control">
<div class="tabla">
	<table class="table table-sm table-striped table-hover">
		<thead class="table-dark header">
			<tr>
				<th scope="Origen">Empresa</th>
				<th scope="Origen">Dirección</th>
				<th scope="Origen">Nombre</th>
				<th scope="Origen">Apellido</th>
				<th scope="Origen">Celular</th>
				<th scope="Origen">Correo</th>
				<th scope="Origen">Opciones</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let supplier of filterList(); let i = index">
				<td>{{supplier.company}}</td>
				<td>{{supplier.address}}</td>
				<td>{{supplier.name}}</td>
				<td>{{supplier.surName}}</td>
				<td>{{supplier.phone}}</td>
				<td>{{supplier.email}}</td>
				<td>
					<div class="row">
						<div class="col-6">
							<button type="button" class="btn btn-danger" (click)="sendIdDelete(supplier)">
								<i class="material-icons">delete_forever</i>
							</button>
						</div>
						<div class="col-6">
							<button type="button" class="btn btn-warning" (click)="sendIdUpdate(supplier)">
								<i class="material-icons">edit_note</i>
							</button>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
