<div class="d-flex justify-content-center">
	<h3 class="text-white">Gestión de administradores</h3>
</div>

<app-administrator-form #childForm (onSubmit)="saveAdministrator($event)" />
<app-administrator-table *ngIf="administrators.length > 0; else loading"
  [listOfAdministrators]="administrators"
  (onDelete)="deleteAdministrator($event)"
  (onUpdate)="updateAdministrator($event)"
/>

<ng-template #loading>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status"></div>
  </div>
</ng-template>

<!--   <button (click)="redirect()" type="button" class="btn btn-primary">Redireccionar</button> -->
