<form [formGroup]="purchaseForm" (ngSubmit)="savePurchase()" >
	<div class="row my-2">
		<div class="col-6">
			<div class="form-floating">
				<input required formControlName="purchasePrice" name="purchasePrice" type="number" placeholder="Precio de ocmpra"
					[className]="checkInput('purchasePrice') ? 'form-control is-invalid' : 'form-control'">
				<label for="purchasePrice">Precio de compra</label>
				<div class="invalid-feedback">
					Este campo es requerido
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="form-floating">
				<input required formControlName="salePrice" name="salePrice" type="number" placeholder="Precio de venta"
					[className]="checkInput('salePrice') ? 'form-control is-invalid' : 'form-control'">
				<label for="salePrice">Precio de venta</label>
				<div class="invalid-feedback">
					Este campo es requerido
				</div>
			</div>
		</div>
	</div>

  <div class="row my-2">
		<div class="col-6">
			<div class="form-floating">
				<input required formControlName="quantity" name="quantity" type="number" placeholder="Cantidad"
					[className]="checkInput('quantity') ? 'form-control is-invalid' : 'form-control'">
				<label for="quantity">Cantidad</label>
				<div class="invalid-feedback">
					Este campo es requerido
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="form-floating">
				<input required formControlName="description" name="description" type="text" placeholder="Descripción"
					[className]="checkInput('description') ? 'form-control is-invalid' : 'form-control'">
				<label for="description">Descripción</label>
				<div class="invalid-feedback">
					Este campo es requerido
				</div>
			</div>
		</div>
	</div>

  <div class="row my-2">
		<div class="col-6">
			<div class="form-floating">
				<input required formControlName="code" name="code" type="text" placeholder="Código"
					[className]="checkInput('code') ? 'form-control is-invalid' : 'form-control'">
				<label for="code">Código</label>
				<div class="invalid-feedback">
					Este campo es requerido
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="form-floating">
				<input required formControlName="datePurchase" name="datePurchase" type="date" placeholder="Fecha de compra"
					[className]="checkInput('datePurchase') ? 'form-control is-invalid' : 'form-control'">
				<label for="datePurchase">Fecha de compra</label>
				<div class="invalid-feedback">
					Este campo es requerido
				</div>
			</div>
		</div>
	</div>

  <div class="row my-2">
		<div class="col-6">
			<div class="d-grid">
				<select formControlName="productId" class="custom-select mb-3" (change)="changeProductId($event)"  >
          <option *ngFor="let productId of Product_Ids" [ngValue]="productId">
            {{ productId }}
          </option>
        </select>
			</div>
		</div>
		<div class="col-6">
			<div class="d-grid">
				<select formControlName="supplierId" class="custom-select mb-3" (change)="changeSupplierId($event)"  >
          <option *ngFor="let supplierId of Supplier_Ids" [ngValue]="supplierId">
            {{ supplierId }}
          </option>
        </select>
			</div>
		</div>
	</div>


	<div class="row my-2">
		<div class="col mb-2 d-flex justify-content-center">
			<button [disabled]="!purchaseForm.valid"
				[ngClass]="{
					'btn-success': isUpdate,
					'btn-primary': !isUpdate,
					'btn d-flex align-items-center': true
				}">
				{{isUpdate ? 'Actualizar usuario' : 'Registrar usuario'}}
				<i class="material-icons">save</i>
			</button>
		</div>
	</div>

</form>
