<div class="d-flex justify-content-center">
	<h2 class="text-black">Gestion de Nomina</h2>
</div>

<app-payroll-form #childForm (onSubmit)="savePayroll($event)" />
<app-payroll-table *ngIf="payrolls.length > 0; else loading"
  [listOfPayrolls]="payrolls"
  (onDelete)="deletePayroll($event)"
  (onUpdate)="updatePayroll($event)"
  (onIdPayroll)="setIdPayroll($event)"
/>

<ng-template #loading>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status"></div>
  </div>
</ng-template>

<!-- <app-VehicleManagement [idPayroll]="idPayroll"/> -->
