<div class="d-flex justify-content-center">
	<h2 class="text-white">Gestión de repecionistas</h2>
</div>

<app-receptionist-form #childForm (onSubmit)="saveReceptionist($event)" />
<app-receptionist-table *ngIf="receptionists.length > 0; else loading"
  [listOfReceptionists]="receptionists"
  (onDelete)="deleteReceptionist($event)"
  (onUpdate)="updateReceptionist($event)"
/>

<ng-template #loading>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status"></div>
  </div>
</ng-template>

<!--   <button (click)="redirect()" type="button" class="btn btn-primary">Redireccionar</button> -->
