<div class="d-flex justify-content-center">
	<h2 class="text-black">Gestion de mecanicos</h2>
</div>

<app-mechanic-form #childForm (onSubmit)="saveMechanic($event)" />
<app-mechanic-table *ngIf="mechanics.length > 0; else loading"
  [listOfMechanics]="mechanics"
  (onDelete)="deleteMechanic($event)"
  (onUpdate)="updateMechanic($event)"
  (onIdMechanic)="setIdMechanic($event)"
/>

<ng-template #loading>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status"></div>
  </div>
</ng-template>

<!-- <app-VehicleManagement [idMechanic]="idMechanic"/> -->
