<input [(ngModel)]="filter" (input)="filterList" type="text" placeholder="Filtrar..." class="form-control">

<div class="tabla">
  <table class="table table-sm table-striped table-hover">
    <thead class="table-dark header">
      <tr>
        <th scope="Origen">Nombre</th>
        <th scope="Origen">Apellido</th>
        <th scope="Origen">Telefono</th>
        <th scope="Origen">IdUsuario</th>
        <th scope="Origen">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let administrator of filterList(); let i = index">
        <td>{{administrator.name}}</td>
        <td>{{administrator.surname}}</td>
        <td>{{administrator.phone}}</td>
        <td>{{administrator.userId}}</td>
        <td>
          <div class="d-flex justify-content-around">
            <button type="button" class="btn btn-warning btn-sm"
              data-bs-toggle="tooltip" data-bs-placement="top" title="Editar Administrador"
              (click)="sendIdUpdate(administrator)">
              <i class="material-icons">edit_note</i>
            </button>
            <button type="button" class="btn btn-danger btn-sm"
              data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar Administrador"
              (click)="sendIdDelete(administrator)">
              <i class="material-icons">delete_forever</i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
