<input [(ngModel)]="filter" (input)="filterList" type="text" placeholder="Filtrar..." class="form-control">



<div class="tabla">
	<table class="table table-sm table-striped table-hover">
		<thead class="table-dark header">
			<tr>
				<th scope="Origen">Nombre</th>
				<th scope="Origen">Apellido</th>
				<th scope="Origen">Celular</th>
				<th scope="Origen">Tipo</th>
				<th scope="Origen">Correo</th>
				<th scope="Origen">Dirección</th>
				<th scope="Origen">Opciones</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let client of filterList(); let i = index">
				<td>{{client.name}}</td>
				<td>{{client.surname}}</td>
				<td>{{client.phone}}</td>
				<td>{{client.type}}</td>
				<td>{{client.email}}</td>
        <td>{{client.address}}</td>
				<td>
					<div class="d-flex justify-content-around">
						<button type="button" class="btn btn-warning btn-sm" (click)="sendIdUpdate(client)">
							<i class="material-icons">edit_note</i>
						</button>
						<button type="button" class="btn btn-danger btn-sm" (click)="sendIdDelete(client)">
							<i class="material-icons">delete_forever</i>
						</button>
            <button (click)="setIdClient(client.id)" type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#vehicleModal">
              <i class="material-icons">directions_car</i>
            </button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>